# .env.example (esse sim pode subir para o git)
DB_USER=seu_usuario_supabase
DB_PASS=sua_senha
DB_HOST=aws-1-sa-east-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres

JWT_SECRET_KEY=sua_chave_jwt
SECRET_KEY=sua_secret_key