@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customizações globais opcionais */
html,
body {
  @apply bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}

input, select, textarea {
  @apply w-full p-2 border border-gray-300 dark:border-gray-700 rounded bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100;
}

button {
  @apply transition;
}
